.button {
  width: 100px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 11px;
  cursor: pointer;
}

.htact {
  &::after {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: 0;
    top: 100%;
    background: #292929;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }
}

.fullHeight {
  height: 100%;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section {
  width: 100%;
  padding: 0 max(4vmin, 20px);
}

.post-category {
  padding: 6px 13px;
  border-radius: 2px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  background-color: #e93314;
  transition: all 0.4s ease-in-out;
  &:hover {
    background: #292929;
  }
}

.clearfix {
  &::before {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.prev {
  margin-top: 10px;
}

.next {
  margin-top: 55px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-repeat: repeat;
  background-origin: content-box;
}

.bg-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

.post-date {
  float: left;
  width: 100%;
  text-align: left;
  color: #666;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 3px 0 10px 0;

  i {
    margin-right: 4px;
    color: #e93314;
  }
}

.box-widget {
  margin-bottom: 40px;
  padding-left: 30px;
}

.widget-title {
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  color: #292929;
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 70px;
    height: 1px;
  }
}

.soc-widget-title {
  color: #6c757d;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  z-index: 2;
}

.video-date {
  float: left;
  color: #fff;
  font-size: 11px;
  margin-top: 6px;
  font-weight: 500;

  i {
    margin-right: 10px;
    color: #e93314;
  }
}

.ajax-nav {
  position: absolute;
  right: 0;
  bottom: 20px;
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 4px;

  li {
    float: left;
    border-left: 1px solid #ddd;
    &:first-child {
      border-left: none;
    }
  }
}

.no-padding-bottom {
  padding-bottom: 0;
}

.dark-bg {
  background: #191919;
}

.play-icon {
  position: absolute;
  left: 26px;
  width: 40px;
  height: 40px;
  top: 30px;
  line-height: 40px;
  border-radius: 50%;
  z-index: 10;
  font-size: 9px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #fff;
  background: #e93314;
  box-shadow: 0px 0px 0px 10px rgb(255 255 255 / 30);
}

.cc_btn {
  position: absolute;
  bottom: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-bottom: -18px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  background: #e93314;
  z-index: 500;
}

.cc-prev {
  left: -18px;
}

.cc-next {
  right: -18px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.thm-btn {
  align-items: center;
  background: $primary;
  border-radius: 48px;
  color: #fff;
  display: inline-flex;
  font-size: inherit;
  font-weight: 600;
  height: 44px;
  justify-content: center;
  letter-spacing: -0.005em;
  padding: 8px 30px;
  transition: all 0.4s ease-in-out;

  @include for-size(only-phone) {
    font-size: 1.7rem;
    background: red;
  }

  &:hover {
    background-color: $color-darkgrey;
  }
}

.separator {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  animation: wpb_appear 0.7s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(1);
  position: relative;
  height: 0;

  &__shape {
    position: relative;
    top: -12px;
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &-before,
    &-after {
      width: 66px;
      webkit-transition: width 1s ease-out 0.3s;
      transition: width 1s ease-out 0.3s;
      position: absolute;
      display: block;
      border-bottom: 1px solid #d7d7d7;
      top: 50%;
      height: 1px;
      margin-top: -0.5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    &-before {
      right: 100%;
    }

    &-after {
      left: 100%;
    }
  }
}

.thmtitle {
  text-align: center;

  h4 {
    color: $primary;
    position: relative;
    padding-bottom: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  p {
    line-height: 25px;
    // margin-top: 20px;
    font-size: $font-size;
  }
}

.main_breadcrumb {
  background-color: #f8f8f8;
  padding: 1px 0 11px;

  &__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  &__thm-breadcrumb {
    justify-content: left;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #979696;

    li {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #fff;
      font-weight: 600;
    }
  }

  &__thm-link {
    color: #202020;
    font-size: 14px;
    opacity: 0.7;

    &::after {
      content: "≫";
      font-weight: 900;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 12px;
      color: #888686;
    }
  }
}
